:root {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
}

.blue {
    background-color: #08A;
}

.violet {
    background-color: #8000AA;
}

.red {
    background-color: #d21;
}

.circle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.circle {
    /* background-color: ghostwhite; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.square {
    width: 75px;
    height: 75px;
}

.rectangle {
    width: 150px;
    height: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    
    & * {
        color: #21da;
        font-size: 2rem;
        font-weight: bolder;
        padding: .25rem;
    }
}

#title-father {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    overflow: hidden;
}